# Setting the environment

In [1]:
import sys
sys.path.append('../config')

# Importing libraries and modules

In [2]:
import pandas as pd 
from sqlalchemy import text
from conexion_db import get_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import declarative_base

# Connection with PostgreSQL

In [3]:

engine = get_engine()


try:
    with engine.connect() as connection:
        print("✅ Conexión exitosa a PostgreSQL")
except Exception as e:
    print("❌ Error de conexión:", e)

✅ Conexión exitosa a PostgreSQL

## An SQL query was executed to obtain information from the cleaned_candidates table, in order to see the already cleaned data.

In [4]:
df_cleaned = pd.read_sql("SELECT * FROM cleaned_candidates;", engine)
df_cleaned

,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score,year,month,is_hired
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,2021,February,False
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,2021,September,False
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,2020,April,True
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,2020,October,False
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,2020,May,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1,2022,January,False
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2,2020,June,False
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1,2018,December,False
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0,2020,May,False
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1,2022,June,False